/*About theme*/
.appearance_page_vw_bakery_blocks_guide{
  background: #fff;
}
.wrapper-info {
    margin-top: 20px;
}
.col-left{
  width: 65%;
  float: left;
}
.col-right {
    width: 30%;
    float: right;
    padding: 5px;
    margin: 0px 20px;
    background: #eee;
    border: solid 1px #ddd;
    background: #fff;
}
.wrapper-info h2 {
    color: #004c75;
    font-size: 35px;
    margin: 15px 0;
    font-weight: bold;
}
span.version {
    font-size: 15px;
    color: #333;
}
.logo {
    margin: 5px 0;
}
.col-left p {
    font-size: 20px;
    color: #333;
}

/*Tab Button*/

.tab{
    margin-top: 20px;
    margin-bottom: 50px;
}
td.update-link, .info-link a, .col-left-pro a,.pro-links a{
    padding: 3px 27px;
    font-weight: bold;
    font-size: 15px;
    background: linear-gradient(#6ccef5,#016194);
    border: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    line-height: 2.15384615;
    border-radius: 3px;
    cursor: pointer;
}
.tab button{
    font-weight: bold;
    font-size: 15px;
    border: none;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    line-height: 2.15384615;
    border-radius: 3px;
    cursor: pointer;
    background: linear-gradient(#eee,#cacaca);
    color: #004c75;
    padding: 3px 12px !important; 
}
button.tablinks.active {
    background: linear-gradient(#6ccef5,#016194);
    color: #fff;
}
.info-link a:hover, .col-left-pro a:hover, td.update-link:hover{
    background: #0771ab !important;
}
button.tablinks:focus {
    outline: none;
}
td.update-link {
    padding: 0px !important;
    display: block;
    text-align: center;
}
td.update-link a {
    color: #fff;    
    text-decoration: none;
    display: block;
    padding: 10px;
}
td.table-img i.fas.fa-check {
    color: #24a562;
}
td.table-img i.fas.fa-times {
    color: #db1601;
}
hr.h3hr {
    width: 10%;
    border-top: 2px solid;
    margin: 0;
}
.tab-sec h3 {
    color: #004c75;
    font-size: 25px;
    margin: 35px 0 10px;
}
.tab-sec p {
    font-size: 16px;
    color: #333;
}
.col-right-inner h3 {
    margin-top: 0;
}
.col-right-inner {
    width: 60%;
    float: right;
    padding: 0 20px;
}
.col-right-inner, .col-left-inner{
    margin: 20px 0px 0px 0px;
}
.col-left-inner {
    float: left;
}
.col-right-inner img {
    width: 100%;
    box-shadow: 0 0 15px 1px #bbb;
    margin: 20px 0px 20px 0px;
}
.col-left-inner h4,
.update-now h4,
.col-3 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    margin-top: 0;
}
.update-now span {
    color: red;
    font-size: 23px;
}
.update-now h4{
    text-align: center;
    color: #004c75;
    margin: 8px 0 0 0;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 16px;
}
.col-left-inner p {
    font-size: 14px;
    margin: 8px 0;
}
.info-link {
    margin: 20px 0;
}
.col-right .info-link,
.logo{
    text-align: center;
}
.table-image {
    padding: 35px;
}
.col-left-pro {
    width: 40%;
    float: left;
}
.col-right-pro {
    width: 55%;
    float: right;
    padding: 15px;
}
.pro-links {
    margin: 3em 0;
}
.pro-links a {
    margin-right: 8px;
    padding: 10px 15px;    
}
.tabcontent {
    display: none;
}
.open {
    display: block ;
}
.tab-sec,
.featurebox {
    width: 100%;
    float: left;
}
.col-left-pro p {
    margin-top: 25px;
}
.innerbox {
    margin: 30px 0;
}
#free_pro p{
  margin: 15px 0 0 0;
}
#free_pro .info-link {
    margin: 15px 0;
}
/*Table CSS*/
.tablebox td {
    padding: 1em;
    font-size: 18px;
    color: #000;
}
td.table-img {
    text-align: center;
}
tr.odd {
 background: #def0ff;;
}
.tablebox th {
    padding: 15px;
    color: #000;
    font-size: 20px;
    border-bottom: 1px solid #000;
}
table.tablebox {
    padding: 2px;
    width: 70%;
    background: #fff;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}
.theme-features{
    text-align: center;
}
.h3hr1{
    width: 10%;
    border-top: 2px solid;
    margin: 0 auto;
}
.tablebox span.dashicons.dashicons-saved, .tablebox span.dashicons.dashicons-no{
    font-size: 25px;
    line-height: inherit;
    font-weight: 600;
    width: auto;
    height: auto;
}
.tablebox span.dashicons.dashicons-saved{
    color: #24a562;
}
.tablebox span.dashicons.dashicons-no{
    color: #db1601;
}
.notice.notice-success.is-dismissible.welcome-notice span a{
    margin: 10px 10px 10px 0px;
}
.notice.notice-success.is-dismissible.welcome-notice span.upgrade-btn a{
    background-color: #00a32a;
    border-color: #00a32a;
}
.notice.notice-success.is-dismissible.welcome-notice span.demo-btn a{
    background-color: #dba617;
    border-color: #dba617;
}
.appearance_page_vw_bakery_blocks_guide .notice.notice-success.is-dismissible.welcome-notice{
    display: none;
}
/**/
.table-end-info{
    width: 100%;
}
/*Support CSS*/
.support-sec{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.col-2 {
    margin-top: 0;
    margin-bottom: 5%;
    background: #fff;
    padding: 30px 30px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #dedede;
    width: 20%;
}
.col-2 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    margin-top: 10px;
}
.col-2 span.dashicons{
    margin-right: 10px;
}
#free_pro .dashicons {
    margin-right: 5px;
}
.row-box1 {
    float: left;
    width: 52%;
}
.first-row {
    border: 1px solid #ddd;
    margin: 15px 0;
    background: #f5f5f5;
}
.row-box {
    border-bottom: 1px solid #ddd;
    padding: 15px 8px;
    font-size: 14px;
}
.row-box span {
    margin-right: 8px;
    color: #000;
}
.row-box a {
    text-decoration: none;
}
a.doc-links {
    color: #004c75;
}
a.doc-links:hover {
    color: #00a0d2;
}
/*lite theme*/
.col-left-lite-theme {
    width: 65%;
    float: left;
}
.col-right-lite-theme {
    width: 25%;
    float: right;
}
.col-right-lite-theme img{
    max-width: 600px;
}
/*first page css*/
.support-forum-col-section{
    display: flex;
    gap: 20px;
}
.support-forum-col{
    margin-top: 0;
    margin-bottom: 5%;
    background: #fff;
    padding: 30px 30px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #dedede;
    width: 18%;
    height: 100%;
}
button.btn.btn-success {
    padding: 10px 13px;
    background: #ff7c93;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
    border: none;
    cursor: pointer;
}