/*Rtl Css*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; 
}

body{
  background: #fff0f2;
  font-family: 'ABeeZee', sans-serif !important;
}

header a,
footer a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merienda One', cursive !important;
  clear: both;
  line-height: 1.4; 
  font-weight: 700;
}

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0; }

dt {
  font-weight: 700; }

dd {
  margin: 0 1.5em 1.5em; }

table {
  width: 100%;
  border-spacing: 0; }

th, td {
  padding: 5px;
  text-align: center; }

table td,
table tr,
table th {
  border: 1px solid #ddd; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

img, .wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

figure {
  margin: 1em 0; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: 17px; }

abbr,
acronym {
  border-bottom: 1px dotted #ddd;
  cursor: help; }

mark,
ins {
  background: #ddd;
  text-decoration: none; }

big {
  font-size: 125%; }

select,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  line-height: 1.75;
  padding: 7px 15px;
  color: #1c1c1c; 
}
div#respond{
  border-top: solid 1px #000;
    margin-top: 30px;
}
h3#reply-title {
  margin-bottom: 18px;
}
textarea {
  width: 100%;
  height: auto;
  padding: 15px 20px; }

input[type="checkbox"] {
  display: inline; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cacaca; }

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #c3c3c3; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a3a2a2; }

hr {
  background-color: #999;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

a {
  color: #ff7c93;
  outline: 0 !important; 
}
.widget a:not(.wp-block-button__link),
.entry-summery a:not(.wp-block-button__link),
.entry-content a:not(.wp-block-button__link) {
  text-underline-offset: 3px;
  text-decoration-skip-ink: all;
  text-decoration-thickness: 1px;
  text-decoration: underline; 
}
.widget a:not(.wp-block-button__link):hover,
.entry-summery a:not(.wp-block-button__link):hover,
.entry-content a:not(.wp-block-button__link):hover {
  color: #ffdd6a; 
}
a:focus-visible, a:focus {
  outline: thin dotted !important; 
}
.bottom-header .wp-block-navigation li.buynow-btn a:focus {
  outline-color: #000 !important;
}
a:hover, a:active, a:hover {
  outline: 0;
  color: #ffdd6a; 
}
/*alignwide*/
.alignfull{
  margin:0 !important;
  width: auto !important
}
.innerpage-banner h1{
  color: #fff !important;
}
/*---------------- Woocommerce CSS------------------ */
.theme-sidebar .wp-block-group{
  padding: 15px;
  border: 1px solid #eee;
  color: #6b6b6b;
  box-shadow: 0 6px 30px 7px #2125471a;
  transition: 0.5s;
}
.woocommerce .products-block-post-template li{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}
.add_to_cart_button{
  background: #ff7c93;
  color: #fff;
  padding: 10px !important; 
  width: auto !important;
  font-size: 18px !important;
}
.woocommerce span.page-numbers.current, .woocommerce .page-numbers, .woocommerce .wp-block-query-pagination-next{
  background: #ff7c93;
  color: #000;
  padding: 10px;
}
.woocommerce .wp-block-query-pagination-numbers{
  display: flex;
  align-items: center;
  gap: 10px;
}
.woocommerce .wp-block-query-pagination{
  gap: 0;
}
.woocommerce span.page-numbers.current:hover, .woocommerce .page-numbers:hover, .woocommerce .wp-block-query-pagination-next:hover, .woocommerce .wp-block-button__link:hover{
  color: #fff;
  background-color: #32373c;
}
.woocommerce .select2-container--default .select2-selection--single{
  height: 40px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered{
  padding: 5px 8px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow{
  top: -5px;
}
.woocommerce form .form-row input.input-text {
  padding: 8px;
  border: 1px solid #bcbcbc;
}
.related.products h2 {
  text-align: left;
}
.woocommerce .star-rating span::before {
  color: #f3f321;
}
.woocommerce ul.products li.product .star-rating{
  margin: 0 auto 8px;
  font-size: 15px !important;
}
.woocommerce span.onsale{
  background: #ffdd6a;
  padding: 0;
  color: #ff7c93;
}
.products li {
  box-shadow: -2px -2px 5px #bbb;
  padding: 10px !important;
  text-align: center;
}
.woocommerce ul.products li.product a img{
  margin: 0;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product li .product_title {
  color: #000;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center !important;
  font-size: 20px !important;
  padding: 5px 0 5px 0 !important;
}
.woocommerce ul.products li.product .button {
    margin-top: 5px;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #ffdd6a;
  color: #ff7c93 ;
  border-radius: 30px;
  padding: 10px 20px !important;
  opacity: 1 !important;
  text-decoration: none;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #ff7c93;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 7px;
  border-radius: 30px;
  border: solid 1px #000;
  color: #000;
  line-height: 1;
}
.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2 {
   max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding-left: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #ffdd6a;
  padding: 12px !important;
  margin-bottom: 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #ff7c93;
  font-weight: 600;
}
nav.woocommerce-MyAccount-navigation ul li a:hover{
  color: #222 !important;
}
span.posted_in {
  display: block;
}
span.woocommerce-input-wrapper {
  width: 100%;
}
select.orderby {
  padding: 10px;
}
.woocommerce-product-gallery__image{
  padding: 2px;
}
.woocommerce .cart .button, .woocommerce .cart input.button{
  padding: 12px;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb a{
  margin: 0 auto;
  text-align: center !important;
}
.woocommerce input#password{
  border: 1px solid #bcbcbc;
}
.woocommerce-page form .password-input{
  width: 100%;
}
.woocommerce nav.woocommerce-pagination ul li a {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #ffdd6a;
  transition: background .15s ease-in-out;
  font-weight: bold;
}
.woocommerce nav.woocommerce-pagination ul li a:hover{
  background: #000;
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li span.current{
  padding: 12.5px 15px;
  background: #000;
  color: #fff;
  font-weight: normal;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li{
  border: none;
  float: none;
  overflow: unset;
}
.woocommerce nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 20px;
} 
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 110px !important;
  padding: 5px 5px 5px !important;
  margin: 0px 10px 0px 0 !important;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  margin-bottom: 30px;
}
#payment{
  margin: 0 0 30px 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 0px;
}
/*Header*/
.topbar-section {
  padding: 0 100px;
  background: #ffdd6a;
}
.topbar-section p, .topbar-section .wp-block-social-links {
  padding: 10px 0;
}
.wp-block-column.logo {
  position: relative;
}
.logo-box {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #ff7c93;
  padding: 15px 15px 40px;
  z-index: 999;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
}
.bottom-header {
  background: #fff0f2;
  padding: 20px 100px;
  position: relative;
  margin: 0 !important;
}
.bottom-header:after {
  content: '';
  padding: 15px;
  background: url('./images/headerlinedesign.png') no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -28px;
  z-index: 99;
}
.bottom-header .wp-block-navigation li{
  position: relative;
}
.bottom-header .wp-block-navigation li:after {
  content: '';
  width: 3px;
  height: 3px;
  background: #8f8f8f;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
}
.bottom-header .wp-block-navigation li a:hover {
  color: #ff7c93;
}
.bottom-header .wp-block-navigation li.buynow-btn a {
  color: #fff;
  background: #ff7c93;
  padding: 8px 10px;
}
.bottom-header .wp-block-navigation li.buynow-btn a:hover {
  background: #fff;
  color: #ff7c93;
}
.bottom-header .wp-block-navigation li li:after, .bottom-header .wp-block-navigation li:last-child:after {
  display: none;
}
.bottom-header .wp-block-navigation li ul {
  z-index: 999;
}
.bottom-header .wp-block-navigation li li a {
  padding: 15px;
}
.bottom-header .wp-block-navigation li li a:hover {
  background: #ff7c93;
  color: #fff;
}
.wp-block-cover.innerpage-banner, main.wp-block-group {
  margin: 0;
}

/*Banner section*/
.main-banner .middle-banner-content {
  padding: 30px 70px;
  text-align: center;
  background: rgb(255, 255, 255, 0.8);
  clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%);
}
.main-banner .wp-block-button__link, .contact-box .wp-block-button__link, .theme-buttons .wp-block-button__link{
  font-weight: 600;
  letter-spacing: 1px;
}
.main-banner .wp-block-button__link:hover, .contact-box .wp-block-button__link:hover, .theme-buttons .wp-block-button__link:hover {
  color: #ff7c93 !important;
  background: #fff !important;
  box-shadow: 8px 8px #f47c939e;
  transition-duration: .5s;
}
.main-banner .banner-btn2 .wp-block-button__link:hover, .contact-box .wp-block-button__link:hover, .theme-buttons .banner-btn2 .wp-block-button__link:hover {
  background: #ff7c93 !important;
  color: #fff !important;
}
.main-banner figure, .service-section figure {
  text-align: center;
}
.main-banner .wp-block-columns {
  margin: 100px 0;
}

/*Contact Section*/
.contact-section {
  margin: -25px 100px 0 !important;
  gap: 0 !important;
  position: relative;
}
.contact-section p {
  margin: 0;
}
.contact-box .wp-block-columns.contact-col {
  margin-top: 10px !important;
}
.contact-box .contact-col p {
  font-family: 'Merienda One', cursive;
}

/*Service Section*/
.service-section {
  padding: 50px 100px !important;
}
.service-section .wp-block-columns {
  margin-top: 50px !important;
}
.service-section p {
  margin-top: 10px ;
}

/*Footer Section*/
.footer-section {
  padding: 0;
  min-height: auto;
}
.footer-section .wp-block-columns {
  padding: 50px 50px 0;
  margin: 0 50px;
}
.footer-section .wp-block-columns.copyright-section {
  padding: 20px 50px;
  margin: 50px 0 0;
  border-top: 1px solid #fff;
}
.footer-section .wp-block-columns.copyright-section .wp-block-column:first-child {
  padding-left: 50px;
}
.footer-section .wp-block-columns.copyright-section .wp-block-column:nth-child(2) {
  padding-right: 50px;
}
.footer-box h3 {
  margin-bottom: 20px;
}
.footer-box a{
  text-decoration: none !important;
}
.footer-box ul {
  padding: 0;
  gap: 0;
}
.footer-box ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-box .wp-block-button__link {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 14px;
  color: #fff !important;
  border-radius: 30px;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #fff;
}
.footer-box .wp-block-latest-posts__post-excerpt {
  color: #fff;
  font-size: 15px;
}
.wp-block-group .footer-box a {
  color: #fff;
  font-weight: 600;
  display: block;
  font-size: 17px;
}
.wp-block-group .wp-block-latest-posts li {
  background: #fff;
  padding: 8px 15px;
}
.footer-section .wp-block-group .wp-block-latest-posts li {
  background: transparent;
  padding: 0;
}
.footer-section .wp-block-group .wp-block-latest-posts li a {
  color: #fff;
  font-size: 18px;
}
.copyright-section a {
  color: #fff;
}
/*404 Page CSS*/
.wp-block-search__button {
  border: 0;
  background: #ffdd6a;
  color: #000;
}
/*Archive Page*/
.archive-page {
  padding: 50px;
}
.title-img {
  margin-top: 20px;
  text-align: center;
}
.wp-block-group .wp-block-latest-posts__list li img {
  width: 100%;
  margin-bottom: 15px;
}
.wp-block-group a.wp-block-latest-posts__post-title {
  color: #222;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.comment-body .reply a {
  color: #fff;
  text-decoration: none;
  background: #ff7c93;
  padding: 5px 10px;
  font-weight: 500;
}
.comment-body .reply a:hover, .wp-block-post-comments input[type=submit]:hover {
  background: #fff !important;
  color: #ff7c93 !important;
}
.wp-block-post-comments input[type=submit] {
  background: #ff7c93;
  color: #fff;
  font-weight: 600;
  border-radius: 0;
}
.wp-block-post-author__content {
  align-self: center;
}
/*Sidebar CSS*/
.theme-sidebar .wp-block-search__button{
  background: #ff7c93 !important;
}
.theme-sidebar{
  padding: 0 30px !important;
}
.theme-sidebar .wp-block-group {
  padding: 15px ;
  border: 1px solid #eee;
  color: #6b6b6b;
  box-shadow: 0 6px 30px 7px #2125471a;
  transition: 0.5s;
  margin-bottom: 30px;
}
.single-post-sidebar-on-right, .single-post-sidebar-on-left{
  margin-right: 8% !important;
  margin-left: 8% !important;
}
.single-post-sidebar-on-right h3, .single-post-sidebar-on-left h3{
  font-size: 30px;
}
/*Sidebar CSS*/
.theme-sidebar a {
  text-decoration: none;
}
.theme-sidebar .wp-block-group h3 {
  color: #222;
  padding-bottom: 5px;
  border-bottom: 3px double #222;
}
.theme-sidebar .wp-block-group ul {
  padding-left: 20px;
}
.theme-sidebar .wp-block-group ul li {
  line-height: 2;
  font-size: 14px;
  color: #6b6b6b;
  list-style: disc;
  background: transparent;
  text-align: left;
}
.theme-sidebar .wp-block-group ul li a {
  color: #6b6b6b;
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}
.theme-sidebar ul.wp-block-social-links {
  padding: 0;
}
.theme-sidebar ul.wp-block-social-links a{
  padding: 10px !important;
}
.theme-sidebar ul.wp-block-social-links a svg {
  font-size: 18px;
}
.theme-sidebar .wp-block-tag-cloud a{
  background:#fff; 
  color: #000; 
  font-size:15px !important;
  padding: 5px 18px;
  margin: 0 0 5px; 
  display:inline-block;
}
.theme-sidebar .wp-block-tag-cloud a:hover{
  background: #ff7c93;
  color: #fff;
}
.theme-sidebar .wp-block-gallery {
  gap: 1em;
}
.is-layout-flow.entry-content.alignfull.wp-block-post-content, h1.has-text-align-left.alignfull.has-text-color.has-foreground-color.wp-block-post-title {
    margin-left: calc( -50vw / 2 + 100% / 2);
    margin-right: calc( -50vw / 2 + 100% / 2);
    width: 100% !important;
}
.products li{
  background: #fff;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
  width: 22.05%;
}
body .is-layout-flex {
    gap: 30px;
}
.main-banner .is-layout-constrained.wp-block-group{
  margin: 0 !important;
}
@media screen and (max-width:767px) {
  .topbar-section {
    padding: 0 30px;
    text-align: center;
  }
  .topbar-section .wp-block-social-links, .footer-section .wp-block-social-links {
    justify-content: center !important;
  }
  .logo-box {
    position: static;
  }
  .bottom-header {
    padding: 30px;
    gap: 1em !important;
  }
  .bottom-header .wp-block-navigation ul, .bottom-header .wp-block-navigation ul li {
    display: block !important;
    width: 100%;
  }
  .bottom-header .wp-block-navigation ul li a {
    color: #000;
    padding: 10px !important;
    border-bottom: 1px solid #eee;
  }
  .bottom-header .wp-block-navigation ul ul {
    padding: 0 0 0 25px !important;
  }
  .main-banner .middle-banner-content {
    padding: 20px !important;
    clip-path: none;
  }
  .contact-section {
    margin: -25px 20px 0 !important;
  }
  .contact-box .wp-block-columns.contact-col {
    flex-wrap: nowrap !important;
  }
  .contact-box .wp-block-columns.contact-col:not(.is-not-stacked-on-mobile) .wp-block-column:first-child {
    flex-basis: 20% !important;
  }
  .contact-section .contact-box {
    padding: 15px !important;
    margin-bottom: 20px !important;
  }
  .service-section {
    padding: 50px 30px !important;
  }
  .footer-section .wp-block-columns {
    margin: 0;
    padding: 50px 30px 0;
  }
  .footer-section .wp-block-columns.copyright-section .wp-block-column:first-child, .footer-section .wp-block-columns.copyright-section .wp-block-column:nth-child(2) {
    padding: 0;
    text-align: center;
  }
  .footer-section .wp-block-columns.copyright-section {
    padding: 20px 30px;
  }
  .main-banner .wp-block-columns {
    margin: 50px 0;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 100%;
  }
  .bottom-header .wp-block-navigation__responsive-container-open {
    background: #ff7c93;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 0 auto 14px auto;
  }
  .menu-section .wp-block-navigation{
    gap: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .main-banner .middle-banner-content {
    margin: 0 50px;
  }
  .topbar-section, .bottom-header {
    padding: 0 50px;
    flex-wrap: nowrap !important;
  }
  .bottom-header {
    padding: 20px 50px;
  }
  .contact-section {
    margin: -25px 50px 0 !important;
  }
  .contact-box .wp-block-columns.contact-col {
    flex-wrap: nowrap !important;
  }
  .wp-block-columns.contact-section:not(.is-not-stacked-on-mobile) .contact-box {
    flex-basis: 50% !important;
    margin-bottom: 20px;
  }
  .contact-box .wp-block-columns.contact-col:not(.is-not-stacked-on-mobile) .wp-block-column:first-child {
    flex-basis: 20% !important;
  }
  .service-section {
    padding: 50px !important;
  }
  .service-section .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column, .footer-section .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column {
    flex-basis: 47% !important;
  }
  .footer-section .wp-block-columns {
    margin: 0;
  }
  .main-banner .wp-block-columns {
    margin: 50px 0;
  }
  .bottom-header .wp-block-navigation__responsive-container-open {
    background: #ff7c93;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
  }
  .bottom-header .wp-block-navigation{
    gap: 0px !important
  }
}
@media screen and (min-width: 1400px){
  .main-banner .middle-banner-content {
    padding: 30px 150px;
  }
}
@media screen and (max-width: 720px) {
  .is-layout-flow.wp-block-group.alignfull {
    padding: 0 !important;
    text-align: center;
  }
  .is-layout-constrained.wp-block-group{
    margin: 0;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1000px) {
  .contact-section {
      margin: -25px 0px 0 !important;
  }
  .footer-section .wp-block-social-links{
    gap:10px !important;
  }
}

@media screen and (max-width: 900px) {
  .wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content {
    display: none; 
  }
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block; 
  }
  .bottom-header{
    flex-wrap: nowrap !important;
  }
  .bottom-header .wp-block-navigation{
    gap: 0px !important
  }
}