@charset "UTF-8";
/*
Theme Name: Pastry Bakers
Author: TheMagnifico52
Theme URI: https://www.themagnifico.net/themes/free-pastry-wordpress-theme/
Author URI: https://www.themagnifico.net/
Description: Pastry Bakers is a delightful and versatile website template designed specifically for pastry chefs, bakeries, dessert shops, and confectionery businesses. This theme offers a sweet and visually appealing design that captures the essence of delectable treats while providing a robust platform for showcasing culinary creations and attracting customers. At its core, the Pastry Bakers theme is tailored to meet the unique needs of those in the pastry and baking industry. It serves as a digital storefront, allowing pastry chefs and bakers to display their delicious cakes, pastries, cupcakes, and other delectable treats with elegance and style. Whether you're a small bakery or a renowned pastry chef, this theme empowers you to create an enticing online presence. The theme's customization options are a highlight, enabling users to personalize their websites to align with their brand identity. You can easily choose from various color schemes, fonts, and layout settings to create a website that reflects your unique style and culinary aesthetics. The user-friendly interface makes it accessible to both tech-savvy and non-technical users, ensuring a hassle-free website-building experience. The design of the Pastry Bakers theme is visually captivating, with high-quality images, sliders, and galleries that beautifully showcase mouthwatering treats. The responsive layout ensures that the website looks and functions flawlessly on all devices, from desktop computers to smartphones, enhancing the user experience for visitors and potential customers.
Version: 0.2.7
Requires at least: 5.0
Tested up to: 6.4
Requires PHP: 7.2
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: pastry-bakers
Tags: wide-blocks, block-styles, custom-logo, one-column, two-columns, grid-layout, sticky-post, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, threaded-comments, theme-options, left-sidebar, right-sidebar, full-width-template, editor-style, e-commerce, blog, food-and-drink, post-formats

Pastry Bakers WordPress Theme has been created by TheMagnifico(themagnifico.net), 2023.
Pastry Bakers WordPress Theme is released under the terms of GNU GPL
*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  color: #797979;
  background: #fff;
}
h1,h2,h3,h4,h5,h6{
  color: #111111;
  font-weight: 600;
  font-family: 'EB Garamond', serif;
}
pre {
  font-size: 1em;
}
a {
  color: #d9a528;
  background-color: transparent;
  text-decoration: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: 1em;
}
small {
  font-size: 80%;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
img {
  border-style: none;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
  outline: -webkit-focus-ring-color auto 1px;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Alignment CSS
 */
/*.alignwide {
  margin-left  : -80px;
  margin-right : -80px;
}
.alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}*/

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.wish-btn a:hover,.cart-text:hover,.account-btn:hover,.wish-btn i:hover,.cart_no i:hover,.user-btn i:hover{
  color: #111111;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.custom-header *,
.featured-header-image * {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}
.entry-content a,
.textwidget a,.comment-content a, .woocommerce-product-details__short-description a,#page-content p a{
  text-decoration: underline;
}
#masthead {
  margin-bottom:4em;
}
.page-template-home-template #masthead {
  margin-bottom: 0;
}
.custom-logo-link img {
  display: inline-block;
  max-height: 80px;
  width: auto;
}
/*--------------------------------------------------------------
# Scroll Back
--------------------------------------------------------------*/
#button {
  display: inline-block;
  background-color: #d9a528;
  width: 55px;
  height: 55px;
  text-align: center;
  position: fixed;
  bottom: 60px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  padding: 18px 0;
  font-weight: bold;
}
a#button{
  color: #fff !important;
}
#button:hover,#button:active {
  cursor: pointer;
  background-color: #000000;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/

.post-password-form input[type="password"] {
  margin-top: 0.4375em;
}

/*--------------------------------------------------------------
# Top Header
--------------------------------------------------------------*/
#masthead .top-info {
  background: #f6f3e5;
}
.top-info p.topbar-text ,p.phone-text ,p.phone-text a {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}
p.phone-text a:hover{
  color: #d9a528
}
.top-btn a{
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}
.top-info .gtranslate_wrapper .gt_selector {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  background: transparent;
  border: none;
  padding: 0;
}
.right-box {
  display: flex;
  justify-content: end;
}
.right-box .gtranslate_wrapper {
  width: 100%;
}
.translate-btn {
  width: 37%;
}
.translate-btn select {
  width: 100%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

span.header-btn a {
  padding: 10px 20px;
  background: #d9a528;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}
header#masthead{
  background: #ffffff;
}
.socialmedia {
  position: relative;
}
.main-header {
  position: relative;
  width: 100%;
  margin-bottom: 0px;
  z-index: 999;
  box-shadow: 0px 7px 8px 2px #eee;
}
.page-template-home-template .main-header{
  box-shadow: none;
}
.socialmedia span.user-btn-top a {
  font-size: 18px;
  color: #272727;
  margin-right: 20px;
}
span.cart_box a {
  color: #272727;
  font-size: 18px;
}


/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
.navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar-brand a {
  color: #111111;
}
.navbar-brand p {
  color: #111111;
  font-size: 15px;
  margin-bottom: 0;
}
.navbar-brand h1.site-title,
p.site-title{
  margin-bottom: 0;
  font-size: 28px;
  font-weight: bold;
}

/*--------------------------------------------------------------
## Top Slider
--------------------------------------------------------------*/

#top-slider{
  position: relative;
}
#top-slider .slide-bg{
  background-color: #000000;
  height: 700px;
}
#top-slider button.owl-next, #top-slider button.owl-prev{
  display: none;
}
.slider-box {
  background: #000000;
  position: relative;
}
.slider-box img {
  opacity: 0.4;
  height: 700px;
  object-fit: cover;
}
.slider-inner-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 26%;
  left: 26%;
  text-align: center;
}
.slider-inner-box h2 {
  font-size: 60px;
  line-height: 80px;
  color: #d9a528;
  font-weight: 400;
}
.slider-inner-box p {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 400;
}
.slide-btn a {
  background: #d9a528;
  padding: 9px 25px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
}
.slide-btn a:hover {
  background: #f6f3e5;
  color: #d9a528;
}
.slider-inner-box h3 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
}
.slider-box:after {
  content: "";
  background-image: url(assets/images/slider-bottom.png);
  background-repeat: repeat-x;
  background-position: center top;
  display: block;
  height: 110px;
  position: absolute;
  bottom: -1px;
  width: 100%;
}
/*--------------------------------------------------------------
## Trending Product
--------------------------------------------------------------*/
.headings p {
  font-size: 16px;
  letter-spacing: 1px;
  color: #121212;
  font-weight: 500;
  text-align: center;
  font-family: "Inter";
}
.product-sec .headings {
  width: 60%;
  margin: 0 auto;
}
.headings h3:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -26px;
  background: #d9a528;
  left: 0px;
  right: 0px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 auto;
}
.headings h3:before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -18px;
  background: #d9a528;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.headings h3 {
  font-size: 36px;
  color: #121212;
  font-weight: 300;
  text-align: center;
  position: relative;
}
.product-img img {
  width: 100%;
}
.products-box img {
  width: 100%;
  height: 100%;
  border: 2px solid #cacaca;
}
.product-content h3 {
  line-height: 30px;
}
.product-content span.woo-cat a {
  font-size: 17px;
  letter-spacing: 2px;
  color: #000000;
  font-weight: 400;
  font-family: "Inter";
}
.product-content h3 a {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
}
.product-content p.price {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
.product-image {
  position: relative;
}

/*--------------------------------------------------------------
## Sticky
--------------------------------------------------------------*/

.stick_header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background: #ebebeb;
}
.admin-bar .navigation_header.stick_header {
  margin-top: 32px;
}

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
  animation: loading 2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

.loading {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
}

@keyframes loading {
  0%,
  100% {
    transform: translatey(-2.5rem);
    background-color: #d9a528;
  }
  50% {
    transform: translatey(2.5rem);
    background-color: #d9a528;
  }
}

/*--------------------------------------------------------------
## Articale
--------------------------------------------------------------*/
#latest_post h2 {
  font-size: 30px;
}
.postcat-name {
  font-size: 14px;
  color: #d9a528 !important;
  font-weight: bold;
}
.article-box {
  background: #fff1d17a;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 4px #eee;
}
.article-box p {
  overflow-wrap: anywhere;
}
.article-box img {
  border-radius: 10px;
}
.article-box h3.entry-title {
  font-size: 25px;
  margin-bottom: 0;
}
.sidebar .search-from,.sidebar form.woocommerce-product-search {
  padding: 10px;
}
.sidebar .widget {
  padding: 10px;
}
.sidebar input[type="submit"],.sidebar button[type="submit"] {
  width: 100%;
  background: #d9a528;
  border: none;
  font-weight: bold;
  font-size: 14px;
}
h2.entry-title,
h1.entry-title,
h2.page-title {
  font-size: 40px;
}
.article-box a{
  color: #d9a528;
}
.author-date a {
  font-weight: 600;
  text-transform: capitalize;
}
a.btn-text {
  background: #d9a528;
  padding: 10px 20px;
  border-radius: 0px;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
.meta-info-box span,.meta-info-box a {
  color: #111111;
  text-transform: uppercase;
  font-size: 13px;
}
.entry-summary p {
  line-height: 1.7;
  font-size: 15px;
}

/*--------------------------------------------------------------
## Woocommerce Product CSS
--------------------------------------------------------------*/

.woocommerce ul.products li span.price {
  margin: 0 5px;
}
.woocommerce a.button.product_type_simple.add_to_cart_button{
  margin-right: 10px;
}
.woocommerce ul.products li.product a img{
  margin: 0;
}
p.price,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #d9a528;
  font-weight: bold;
  font-size: 14px;
}
span.onsale {
  position: absolute;
  top: 0;
  left: 0;
  background: #d9a528;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
.pro-button a,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  padding: 9px 14px;
  color: #fff;
  font-size: 15px;
  border-radius: 0px;
  background: #d9a528;
}
.pro-button a:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{
  background: #000000;
  color: #fff;
}
ins {
  text-decoration: none;
}
.woocommerce ul.products li {
  text-align: center;
  box-shadow: 0 0 20px 2px #d7d7d7;
  padding: 15px !important;
}
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale {
  position: absolute;
  top: 15px;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  left: 15px;
  right: auto;
  background: #d9a528;
  padding: 2px 5px;
  border-radius: 0px;
  margin: 0px;
  min-height: 20px;
  line-height: 1.5;
}
.woocommerce ul.products li.product .star-rating,.woocommerce .star-rating {
  margin: 0px auto 10px;
  color: #ffc53f;
}
.woocommerce .woocommerce-ordering select {
  background: #d9a528;
  color: #fff;
  padding: 2px;
  border: 1px solid #e3e3e3;
}
.woocommerce .entry-summary {
  margin: 0;
}
.woocommerce .quantity .qty {
  padding: 8px;
  border: solid 2px #111111;
}
.woocommerce-message,
.woocommerce-info{
  border-top-color: #d9a528;
}
.woocommerce-message::before,
.woocommerce-info::before{
  color: #d9a528;
}
input[type="text"],
input[type="email"],
input[type="phno"],
input[type="password"],
textarea {
  border: 1px solid #bcbcbc;
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 23px 0;
  height: auto;
}
span.woocommerce-input-wrapper,
.checkout label,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content,.woocommerce form .form-row label,span.password-input,header.page-header {
  width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
  list-style: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  display: initial;
  background: #d9a528;
  padding: 10px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a{
  color: #fff;
}
h2.woocommerce-loop-product__title {
  font-size: 16px !important;
  padding: 8px 0 !important;
}
.woocommerce #customer_login .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce #customer_login .col2-set .col-2, .woocommerce-page .col2-set .col-2{
  display: table-cell;
  max-width: 100%;
  float: none;
}
.woocommerce ul.products li.product .button{
  margin-top: 0;
  border-radius: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation .menu ul {
  margin-bottom: 0px;
  padding: 0px;
}
.main-navigation .menu li {
  display: inline-block;
  position: relative;
  list-style: none;
}
#site-navigation .menu ul li a {
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
}
.navigation_header .nav,.navbar-expand-xl {
  justify-content: flex-start;
}
nav#site-navigation{
  padding: 0;
}
.main-navigation ul.sub-menu > li > a:hover, .main-navigation ul.sub-menu > li > a:focus{
  background: #f6f3e5;
  color: #000;
}
.main-navigation .menu {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.main-navigation .menu > li {
  display: inline;
  position: relative;
}
.main-navigation .menu > li > a {
  padding: 15px;
  display: inline-block;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
.main-navigation .menu > li > a:hover{
  color: #111111;
}
.main-navigation .sub-menu {
  background-color: #d9a528;
  list-style: none;
  padding-left: 0;
  position: absolute;
  opacity: 0;
  left: -9999px;
  z-index: 99999;
  width: 200px !important;
}
.main-navigation .sub-menu > li > a:hover,
.main-navigation .sub-menu > li > a:focus {
  background: #d9a528;
  color: #fff;
}
.main-navigation .sub-menu > li {
  display: block;
  float: none;
  position: relative;
}
.main-navigation .sub-menu > li.menu-item-has-children .submenu-expand {
  display: inline-block;
  position: absolute;
  width: calc( 24px + 1rem);
  right: 0;
  top: calc( .125 * 1rem);
  bottom: 0;
  color: white;
  line-height: 1;
  padding: calc( .5 * 1rem);
}
.main-navigation .sub-menu > li.menu-item-has-children .submenu-expand {
  margin-right: 0;
}
.main-navigation .sub-menu > li > a,
.main-navigation .sub-menu > li > .menu-item-link-return {
  color: #fff;
  display: block;
  padding: 15px;
  font-weight: 600;
}
.main-navigation .sub-menu > li > .menu-item-link-return {
  width: 100%;
  font-size: 22px;
  font-weight: normal;
  text-align: left;
}
.main-navigation .sub-menu > li > a:empty {
  display: none;
}
.main-navigation .sub-menu > li.mobile-parent-nav-menu-item {
  display: none;
  font-size: 0.88889em;
  font-weight: normal;
}
.main-navigation .menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu,
.main-navigation .menu .menu-item-has-children:not(.off-canvas):focus > .sub-menu,
.main-navigation .menu .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu,
.main-navigation .menu .menu-item-has-children:not(.off-canvas)[focus-within] > .sub-menum,
.main-navigation .menu .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu  {
  display: block;
  left: 0;
  margin-top: 0;
  opacity: 1;
  width: auto;
  min-width: 100%;
}

/*--------------------------------------------------------------
## Next / Previous
--------------------------------------------------------------*/
/* Next/Previous navigation */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
  width: 100%;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.comment-content.card-block {
  padding: 20px;
}
.navigation.post-navigation {
  padding-top: 1.875rem;
}
.post-navigation .nav-previous a,
.post-navigation .nav-next a,
.posts-navigation .nav-previous a,
.posts-navigation .nav-next a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0.98rem;
  -moz-border-radius: 0.98rem;
  border-radius: 0.98rem;
  display: inline-block;
  padding: 0.313rem 0.875rem;
  overflow-wrap: anywhere;
  background: white;
}
.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover,
.posts-navigation .nav-previous a:hover,
.posts-navigation .nav-next a:hover {
  background: #d9a528;
  color: white;
  border: 1px solid #d9a528;
}
.post-navigation .nav-next a::after,
.posts-navigation .nav-next a::after {
  content: " \2192  ";
}
.post-navigation .nav-previous a::before,
.posts-navigation .nav-previous a::before {
  content: "\2190  ";
}
.navigation.pagination {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.navigation.pagination .nav-links a,
.navigation.pagination .nav-links span {
  border: 1px solid #ddd;
  -webkit-border-radius: 0.98rem;
  -moz-border-radius: 0.98rem;
  border-radius: 0.98rem;
  display: inline-block;
  padding: 0.13rem 0.875rem;
  background: white;
}
.navigation.pagination .nav-links a.current, .navigation.pagination .nav-links a:hover,
.navigation.pagination .nav-links span.current,
.navigation.pagination .nav-links span:hover {
  background: #d9a528;
  color: white;
  border: 1px solid #d9a528;
}

@media screen and (max-width: 560px) {
  .navigation.post-navigation .nav-links {
    display: flex;
    flex-flow: column wrap;
  }
  .navigation.post-navigation .nav-links .nav-previous,
  .navigation.post-navigation .nav-links .nav-next {
    margin-bottom: 14px;
    width: 100%;
    float: none;
    text-align: start;
  }
}

/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
a img .alignright {
  float: right;
  margin: 0.313rem 0 1.25rem 1.25rem;
}
a img .alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}
a img .alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}
a img .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}
.wp-caption .alignleft {
  margin: 0.313rem 1.25rem 1.25rem 0;
}
.wp-caption .alignright {
  margin: 0.313rem 0 1.25rem 1.25rem;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.module-border-wrap {
  -moz-border-image: -moz-linear-gradient(to bottom left, #19b094 0%, #d9a528 100%);
  -webkit-border-image: -webkit-linear-gradient(to bottom left, #19b094 0%, #d9a528 100%);
  border-image: linear-gradient(to bottom left, #19b094 0%, #d9a528 100%) 1;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-form-url input{
  width: 100%;
}
.comment-respond input#submit {
  background: #d9a528;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
}
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.comments-title {
  font-size: 1.125rem;
}
.comment-body .pull-left {
  padding-right: 0.625rem;
}
.comment-list {
  padding-left: 0;
}
.comment-list .comment {
  display: block;
}
.comment-list .pingback {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.563rem 0;
}
.comment-list .pingback a {
  margin-left: 5px;
  margin-right: 5px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.error-404 input.search-field.form-control {
  width: 30%;
}
.error-404 input.search-submit.btn.btn-primary {
  width: 30%;
  margin-top: 5px;
}
.page-content form.search-from {
  display: flex;
}
.sticky .entry-title a {
  margin-left: 15px;
}
.sticky .entry-title::before {
  content: '\f08d';
  font-family: "Font Awesome\ 5 Free";
  font-size: 20px;
  font-weight: 900;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.posted-on,
.byline,
.comments-link {
  color: #9a9a9a;
}
div#respond {
  border: 1px solid #bcbcbc ;
  padding: 15px;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
#colophon {
  background:#d9a528;
  color: #fff;
}
.widget #wp-calendar caption,#colophon a,#colophon h5 {
  color: #fff;
}
#colophon a:hover, #colophon a:focus {
  color: #2b93ff;
}
#colophon ul {
  list-style: none;
  padding-left: 0;
}
#colophon h5 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 28px;
  color: #000000;
}
#colophon a:hover, #colophon a:focus {
  color: #111111;
}
#colophon .footer-menu ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
#colophon .footer-menu li {
  margin-right: 10px;
}
.site-info {
  padding: 15px 0;
}
.footer-menu-left {
  text-align: right;
}
.footer-column {
  border-bottom: 1px solid #fff;
}
.footer-column .widget{
  padding: 30px 0;
}
.widget select{
  width: 100%;
  padding: 8px 4px;
  border-radius: 10px;
}
a.rsswidget {
  text-decoration-line: underline;
}
#colophon .tagcloud a {
  font-size: 15px !important;
  display: block;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget a:hover, .widget a:focus {
  color: #d9a528;
}
.widget ul li.recentcomments {
  display: block;
  padding: 5px 15px;
}
.widget .gallery-item,
.textwidget {
  padding: 10px;
}
.widget #wp-calendar caption {
  caption-side: top !important;
  padding-top: 0;
}
.widget #wp-calendar tbody tr td {
  padding: .5rem;
}
.widget #wp-calendar tfoot {
  text-align: center;
}
.half-rule {
  margin: 2.5rem 0;
  width: 6rem;
}
.sidebar section {
  border: solid 1px #e7ebf1;
  margin-bottom: 30px;
}
.sidebar h5 {
  font-size: 20px;
  color: #fff;
  background: #d9a528;
  padding: 15px 10px;
  margin-bottom: 0;
  text-align: center;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  color: #111111;
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
}
.sidebar ul li a:before {
  content: '\f30b';
  font-family: "Font Awesome\ 5 Free";
  font-size: 15px;
  margin-right: 10px;
  font-weight: 900;
}
.sidebar ul li a:hover {
  color: #d9a528;
}
.sidebar ul li a {
  color: #111111;
}
.sidebar .textwidget img,
.sidebar .form-group {
  width: 100%;
  height: auto;
}
.sidebar select {
  padding: 10px;
  border: solid 1px #e3e3e3;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #111111;
}
.sidebar .tagcloud a,p.wp-block-tag-cloud a {
  border: 1px solid #e3e3e3;
  color: #111111;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
.sidebar .tagcloud a:hover{
  background: #d9a528;
  color: #fff;
}
p.wp-block-tag-cloud a:hover{
  background: #d9a528;
  color: #fff;
}
.sidebar .tagcloud {
  margin-top: 15px;
}
.sidebar input[type="search"]{
  padding: 10px;
  width: 100%;
  border: solid 1px #e7ebf1;
  font-size: 15px;
}
.sidebar button[type="submit"] {
  padding: 8px;
  width: 100%;
  color: #fff;
}
.sidebar table#wp-calendar {
  border: solid 1px #e3e3e3;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
.sidebar th,#theme-sidebar td {
  border-right: solid 1px #e3e3e3;
  padding: 10px 0;
}
.sidebar tr {
  border-bottom: solid 1px #e3e3e3;
}
/*--------------------------------------------------------------
# Audio
--------------------------------------------------------------*/
#footer label, iframe, .entry-audio audio, .sidebar input[type="submit"],span.woocommerce-input-wrapper,.checkout label,.woocommerce-page form .password-input,.woocommerce label {
  width: 100%;
}
iframe{
  height: auto;
}
/*--------------------------------------------------------------
# Infinite Scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
  background-color: #fff;
  border: 1px solid #dee2e6;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  height: auto;
  max-width: 100%;
  padding: 0.25rem;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.wp-caption-text {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}
ul.comment-list .comment .media-body {overflow: auto;}
.toggle-nav.mobile-menu,
a.closebtn.mobile-menu {
  display: none;
}
@media screen and (max-width: 320px){
  .woocommerce ul.products li{
    width: 100% !important;
  }
}
@media screen and (max-width: 575px){
  .top-info p.topbar-text{
    text-align: center;
  }
  .top-info,.product-sec{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .cart_box{
    margin-right: 10px !important;  
  }
  span.header-btn a {
    padding: 10px 13px;
  }
  .product-sec .headings {
    width: 100%;
  }
  .phone-box,.topbar-text{
    text-align: center !important;
  }
  .headings h3 {
    font-size: 24px;
  }
  .headings p {
    font-size: 20px;
  }
  .main-header{
    padding: 0px 10px !important;
  }
  .site-logo {
    margin-bottom: 20px;
  }
  .slide-btn{
    margin-top: 20px !important;
  }
  .heading .main_heading,.section-btn{
    text-align: center !important;
  }
  .nav-box{
    padding: 10px 0px;
    width: 100%;
    margin: 0px;
  }
  .right-box{
    justify-content: center;
  }
  .top-header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
  }
  .slider-inner-box h2{
    font-size: 18px;
  }
}

@media screen and (max-width: 720px){
  .toggle-nav,.footer-menu-left,#colophon ul,.slider-box{
    text-align: center;
  }
  .slider-inner-box
  .navbar-brand,.admin-bar .navigation_header.stick_header {
    margin: 0 auto;
    width: 100%;
  }
  #top-slider button.owl-prev{
    left: 0;
  }
  #top-slider button.owl-next{
    right: 0;
  }
  .slider-inner-box h1 a {
    font-size: 18px;
  }
  .slider-inner-box h1 {
    line-height: 18px;
  }
  
}
@media screen and (max-width: 767px){
  .slider-inner-box h2{
    font-size: 24px;
    line-height: 30px;
  }
  .slider-inner-box p {
    font-size: 18px;
  }
  .product-img img {
    margin-bottom: 20px;
  }
  .pro-button a{
    padding: 9px 16px;
  }
  .product-sec .headings {
    width: 100%;
  }
}
@media screen and (max-width: 1000px){
  .admin-bar .sidenav{
    top: 45px;
  }
  ul#menu-testing-menu li.current-menu-item.current_page_item a{
    border: none;
    color: #ffffff;
  }
  .slider-box-btn {
    margin: 17px 0;
  }
  .main-navigation .menu > li > a:hover{
    color: #d9a528;
  }
  .slider-inner-box {
    right: 10%;
    left: 10%;
  }
  .toggle-nav.mobile-menu {
    text-align: center;
  }
  .nav-box {
    outline: none;
    background: transparent;
  }
  .main-navigation .sub-menu > li{
    border: none;
  }
  .alignfull {
    max-width: 1000%;
    margin-right: ~"calc(50% - 50vw)";
    margin-left: ~"calc(50% - 50vw)";
    width: auto;
  }
  .alignwide {
    max-width: 1000%;
    margin-right: ~"calc(25% - 25vw)";
    margin-left: ~"calc(25% - 25vw)";
    width: auto;
  }
  .toggle-nav {
    display: none;
    cursor: pointer;
    z-index: 999999;
  }
  .toggle-nav i {
    font-size: 30px;
    color: #fff;
    padding: 8px;
    background: #d9a528;
  }
  .toggle-nav button {
    border: none;
    background: transparent;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s ;
    overflow-y: scroll;
    background: #000000;
    visibility: hidden;
  }
  .sidenav.show {
    visibility: visible;
    width: 300px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 20px;
    margin-left: 10px;
    display: block;
    font-size: 22px;
    background: #d9a528;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    right: 14px;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav,
  .toggle-nav.mobile-menu,
  a.closebtn.mobile-menu,
  .main-navigation ul ul li,
  .nav ul li a{
    display: block;
  }
  .nav ul li ul,
  .nav ul li ul ul{
    display:block !important;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
    padding-left:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-left:30px !important;
  }
  .nav ul li ul,
  .nav ul li ul ul {
    display: block !important;
    opacity: 1 !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
  }
  .main-navigation li{
    padding: 0;
  }
  .main-navigation .sub-menu{
    position: static;
    background: transparent;
  }
  .main-navigation .menu > li > a,.main-navigation .sub-menu > li > a, .main-navigation .sub-menu > li > .menu-item-link-return {
    color: #fff;
    display: block;
    border: none;
    text-align: left;
  }
}
@media screen and  (min-width: 768px) and (max-width: 991px){
  .product-sec .headings {
    width: 80%;
  }
}
@media screen and (max-width: 991px){
  .top-box{
    margin-bottom: 10px;
    text-align: center !important;
  }
  .main-header{
    margin-bottom: 0px;
    padding-top: 20px;
  }
  .pro-button span{
    display: block;
    padding: 15px 0px;
    margin-right: 0px !important;
  }
  #top-slider .owl-carousel .owl-nav{
    display: none;
  }

}
@media screen and  (min-width: 991px) and (max-width: 1199px){
  .slider-inner-box {
    right: 14%;
    left: 14%;
  }
  #top-slider button.owl-prev {
    left: 3%;
  }
  #top-slider button.owl-next {
    left: 90%;
  }
  .product-sec .headings {
    width: 60%;
  }
}
