<!-- wp:template-part {"slug":"header","theme":"vw-bakery-blocks","tagName":"header"} /-->
<!-- wp:pattern {"slug":"vw-bakery-blocks/cover-with-post-title"} /-->
<!-- wp:group {"tagName":"main","className":"alignfull no-margin no-padding","align":"full","style":{"spacing":{"padding":{"top":"80px","bottom":"80px","left":"100px","right":"100px"}}},"className":"no-margin no-padding","layout":{"inherit":true}} -->
<main
	class="wp-block-group alignfull no-margin no-padding"
	style="
		padding-top: 80px;
		padding-right: 100px;
		padding-bottom: 80px;
		padding-left: 100px;
	"
>
	<!-- wp:columns {"align":"wide"} -->
	<div class="wp-block-columns alignwide">
		<!-- wp:column {"width":"25%"} -->
		<div class="wp-block-column" style="flex-basis: 20%">
			<!-- wp:template-part {"slug":"sidebar","theme":"vw-bakery-blocks","tagName":"div"} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"80%","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
		<div
			class="wp-block-column"
			style="
				padding-top: 0px;
				padding-right: 0px;
				padding-bottom: 0px;
				padding-left: 0px;
				flex-basis: 80%;
				overflow: hidden;
			"
		>
			<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","bottom":"40px"}}},"layout":{"inherit":true}} -->
			<main
				class="wp-block-group"
				style="padding-top: 0px; padding-bottom: 40px"
			>
				<!-- wp:post-featured-image {"align":"full"} /-->

				<!-- wp:post-title {"textAlign":"left","level":1,"align":"full","textColor":"foreground"} /-->

				<!-- wp:post-content {"align":"full"} /-->
			</main>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"vw-bakery-blocks","tagName":"footer"} /-->
